
<!--</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>-->

<footer id="footer">
<div class="footer-section" >
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fas fa-envelope"></i>
  <p>© Copyright 2019: Made with ❤️ by Mai_Thai Kitchen</p>
</div>
</footer>

</body>

</html>
