<%- include("partials/header"); -%>

  <section id="title">
  <div class="container-fluid">

    <img class="top-cloud" src="images/15871374.jpg" alt="cloud-img">
    <h1>I am Mai Eaksen.</h1>


    <h2>Front End Devloper - WANNA - BE😁</h2>
    <h3>A Software QA Engineer</h3>
    <p>
      who want to <span class="pro">code!</span>
    </p>


    <img class="bottom-cloud" src="images/15871374.jpg" alt="cloud-img">
    <img class="mountain" src="images/mountain.png" alt="mountain-img">
  </div>
</section>

<section id="features">
  <div class="middle-container">
      <img src="images/MaiPicFilm.jpg" alt="mai-pic1" height="400px" width="800px">
      <h2>Hello</h2>

      <div class="row">
        <div class="col-4">
          <img class="profile-image" src="images/Mai.jpg" alt="mai-pic2">
        </div>
        <div class="col-8">
        <p>A Software Quality Analyst based in Grand Rapids, Michigan.
          I 💖 my job and it is fun to find bugs. 😂
          Currently persuing master degree in Computer Information System at Grand Valley State
          University. My expected graduation is this coming summer, June 2019.
          Although I love my job, I would like to have more challenge in life by becoming a Developer
          So my aim after graduation is to be able to have opportunity to become a Web Developer.
          It would be fun to be able to find bug out of your own application that you made, right?? 😉</p>
        <p>Please click on this link to my CV</p>
        </div>
      </div>


    <hr>
    <div class="skill">
      <h2>Skills</h2>
      <div class="skill-row">
        <img class="skill-image1" src="images/qaPic1.PNG" alt="qa-pic">
        <h3>Software Quality Analyst Engineer</h3>
        <p>Perform backend and frontend testing with different testing techniques: black-box or white-box testing techniques</p>
      </div>
      <div class="skill-row">
        <img class="skill-image2" src="images/webDevelopment.PNG" alt="qa-pic1">
        <h3>Web Development and Design</h3>
        <p>

          Learning how to develop and design a web application.
          <br>
          Full-time maintaining my own personal cooking web page, Mai_Thai Kitchen.
          I love making pretty UI to represent my cooking, and food makes me happy! Yay! 😋

        </p>
      </div>
    </div>


    <hr>
    <div class="hobby">
      <h2>Hobby</h2>
      <div class="hobby-row">


        <img class="hobby-image" src="images/MaiInKitchen.PNG" alt="MaiInKitchen-pic">
        <h3>Mai Thai Kitchen</h3>
        <div class="hobby-description">
          <p>I LOVE COOKING & I LOVE FOOD Passionately; especially, Thai food since I am Thai.
            With 10 years of cooking experience in the State, meeting many various friends from many different backgrounds and countries;
            I have a ton of so-called "Fusion-Cuisine" recipe.
            <br>
            Please visit my personal web page:
            <a class="skill-link" href="C:\Users\mai_s\OneDrive\Documents\A_Winter 2019_CIS_Master\WebDevelopment_Udemy\Web Development\MasterProject\recipebookMainPage.html">Mai_Thai Kitchen</a>
          </p>
        </div>
      </div>
    </div>

    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <div class="contact-address">
        <h3>My Current Location:</h3>
        <p>
          <br>Grand Rapids, MI
        </p>
      </div>

      <div class="contact-email">
        <h3>Email Address</h3>
        <p>Want to exchange any idea about software testing perspective, any advise to become a better coder, or any feedback on Mai_Thai Kitchen webpage. Please click to email me.
          <p>
            <a class="btn" href="mailto:eaksens@mail.gvsu.edu">EMAIL ME!</a>
          </p>
        </p>
      </div>

    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
