<%- include("partials/header"); -%>
<div class="container-fluid">

  <h1 style="text-align:left;">Compose New Blog</h1>
  <form style="text-align:left;" class="" action="/compose" method="post">
    <div class="form-group">
      <h3>Blog Title</h3>
    <input class="form-control" type="text" name="postTitle">
    </div>
    <div class="form-group">
      <h3>Blog Content</h3>
      <textarea class="form-control" name="postContent" cols="40" rows="5"></textarea>
    </div>
    <button id="composeBlog" type="submit" class="btn btn-primary" name="button">Publish</button>
    <button type="reset" name="cancel" class="btn btn-danger">Cancel</button>
  </form>
</div>
<%- include("partials/footer"); -%>
