<%- include("partials/header"); -%>
<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Successful to Subscribe</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>-->
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">You are in!!</h1>
    <p class="lead">Congrats! You have been successfully subscribed to Mai_Thai Kitchen!</p>
  </div>
</div>

<footer id="footer" style="position: absolute">
<div class="footer-section" >
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fas fa-envelope"></i>
  <p>© Copyright 2019: Made with ❤️ by Mai_Thai Kitchen</p>
</div>
</footer>

</body>

</html>
